/* 
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version */

body {
  background-color: #5c5858;
  font-family: "quicksand", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}

a {
  color: rgb(216, 213, 213);
  font-size: 15px;
  text-decoration: none;
}

a {
  color: #000;
}

nav {
  line-height: 20px;
  color: #000;
}

a:visited {
  color: rgb(5, 5, 5);
}

a:hover, a:focus {
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(8, 8, 8);
}

button {
  font-family: inherit;
  border: none;
  color: #ffffff;
  background-color: rgb(3, 3, 3);
  padding: 10px;
  border-radius: 5px;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.3;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h1-work-alignment {
  text-align: center;
}

.div-about-alignment {
  text-align: center;
}

.div-contact-alignment {
  text-align: center;
}

.remove-bullets {
  list-style-type: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid__item {
  background-color: lightgray;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

@-webkit-keyframes image-scale {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes image-scale {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.hometown-transform {
  -webkit-animation: 5s image-scale infinite alternate linear;
  animation: 5s image-scale infinite alternate linear;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}